# We use inclusion instead of exclusion style
*

!docker/entrypoint.sh
!docker/supervisord.conf

!frontend/
frontend/cypress/
frontend/node_modules/
frontend/public/
frontend/src/locales/
frontend/templates/
frontend/.gitignore

!locale/**/*.po

!spritstat/
spritstat/fixtures/
spritstat/tests/

!templates/

!users/
users/fixtures/
users/tests/

!manage.py
!requirements.txt
