{% extends "base.html" %}

{% load static %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Die Spritpreisentwicklung ist unübersichtlich und stark vom Ort abhängig. SPRITSTAT ermöglicht es für deinen Ort Preise aufzuzeichnen."
    />
    <meta name="keywords" content="Sprit, Preis, Statistik, Österreich" />
    <title>SPRITSTAT - Spritpreisstatistiken für Österreich</title>

    {% block head %}{{ block.super }}{% endblock %}
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&region=AT&language=de&callback=initGoogleMapsAPI"
    ></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

    {% block body %}{{ block.super }}{% endblock %}
  </body>
</html>
{% endblock %}
