<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Du bist leider offline!</title>

    <style>
      body {
        font-family: helvetica, arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
      }

      h1 {
        font-style: italic;
        color: #4071bc;
      }
    </style>
  </head>
  <body>
    <h1>Du bist leider offline!</h1>
    <a id="reload" href="">Neu laden</a>

    <script>
      document.querySelector("#reload").addEventListener("click", () => {
        window.location.reload();
      });
      window.addEventListener("online", () => {
        window.location.reload();
      });

      // Check if the server is responding and reload the page if it is.
      // This handles the case when the device is online, but the server is offline
      //  or misbehaving.
      async function checkNetworkAndReload() {
        try {
          const response = await fetch(".");
          // Verify we get a valid response from the server
          if (response.status >= 200 && response.status < 500) {
            window.location.reload();
            return;
          }
        } catch {
          // Unable to connect to the server, ignore.
        }
        window.setTimeout(checkNetworkAndReload, 2500);
      }

      checkNetworkAndReload();
    </script>
  </body>
</html>