@charset "utf-8"

@import "../node_modules/bulma/sass/utilities/functions.sass"

$indigo: #4071bc
$edgewater: #baddd5
$peach: #ffe2bb
$salmon: #fc8474

$primary: $indigo
$link: $edgewater
$info: $peach

$navbar-item-img-max-height: 2rem

$footer-padding: 1rem 1.5rem 1rem
$section-padding-large-mobile: 7rem 1.5rem

$table-cell-border-width: 0 0 0

$tabs-link-active-color: $primary

@import "../node_modules/bulma/bulma.sass"
@import "~bulma-switch"

$card-focus-color: $link-focus
$card-focus-border-color: $link-focus-border
$card-focus-box-shadow-size: 0 0 0 0.125em
$card-focus-box-shadow-color: bulmaRgba($link, 0.25)

td.key
  text-align: right !important
  width: 1% !important

.huge-text
  font-size: 10vw
  white-space: nowrap

.hero-body
  justify-content: center
  align-items: stretch
  +mobile
    padding-left: 0
    padding-right: 0
    padding-top: 0
.hero-foot
  margin-bottom: 1rem

.has-content-right
  display: flex
  justify-content: flex-end
  +mobile
    justify-content: center
  margin-bottom: 1.5rem
.wide-content
  width: 100%

.card:hover
  border-color: $card-focus-border-color
  color: $card-focus-color
  box-shadow: $card-focus-box-shadow-size $card-focus-box-shadow-color
.card-header-title
  flex: 1
  align-items: flex-start
.card-header-title .card-key
  @extend .has-text-primary
  @extend .has-text-weight-bold
.card-header-title .card-value
  @extend .has-text-weight-medium
.card-overlay
  @include overlay
  opacity: 0

.chart-container
  width: 100%

.settings-block
  @include block(4rem)

.intro-tooltip
  text-align: center

.tabs-box
  @extend .box
  margin-top: 0
  box-shadow: 0 0.1em 0.5em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02)
